<section style="background-color: #44749D;  padding: 7em 0em 5em 0em;">
    <header>
        <h2 style="display: flex; justify-content: center; align-items: center; padding-top: 20px; color: white; font-weight: 100;">Bit[<span style="color: #4CC0A4; font-weight: 700;">Abridged</span>]</h2>
        <span class="byline" style="display:flex;justify-content:center;align-items:center; text-align: center;">
            <em>
                Don't spend your time fiddling with syntax! Just write the code.<br />
                Start searching or select one of our hot languages below!
            </em>

        </span>
    </header>
</section>
<div class="row" style="background-color: #BDB8AD;">

    <div class="col-lg-4 col-md-4 col-sm-6 text-center" id="hover-change" style="padding-top: 2em; padding-bottom: 2em;">
        <i class="icon-cplusplus" style="font-size: 5em; border: 1px solid black; border-radius: 50%; padding: 15px; display: inline-block"></i>
        <div>
            <h3>
                C++
            </h3>
            <p style="display: flex; justify-content: center; align-items: center; width: 50%; margin-left: 25%">Object oriented programming language based on 'C.'</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 text-center" id="hover-change" style="padding-top: 2em; padding-bottom: 2em;">
        <i class="icon-csharp" style="font-size: 5em; border: 1px solid black; border-radius: 50%; padding: 15px; display: inline-block"></i>
        <div>
            <h3>
                C Sharp
            </h3>
            <p style="display: flex; justify-content: center; align-items: center; width: 50%; margin-left: 25%">An object oriented hybrid of C and C++ designed for Windows development.</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 text-center" id="hover-change" style="padding-top: 2em; padding-bottom: 2em;">
        <i class="icon-python" style="font-size: 5em; border: 1px solid black; border-radius: 50%; padding: 15px; display: inline-block"></i>
        <div>
            <h3>
                Python
            </h3>
            <p style="display: flex; justify-content: center; align-items: center; width: 50%; margin-left: 25%">General purpose, high-level programming language.</p>
        </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-6 text-center" id="hover-change" style="padding-top: 2em; padding-bottom: 2em;">
        <i class="icon-haskell" style="font-size: 5em; border: 1px solid black; border-radius: 50%; padding: 15px; display: inline-block"></i>
        <div>
            <h3>
                Haskell
            </h3>
            <p style="display: flex; justify-content: center; align-items: center; width: 50%; margin-left: 25%">A standardized, general-purpose purely functional programming language, with non-strict semantics and strong static typing.</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 text-center" id="hover-change" style="padding-top: 2em; padding-bottom: 2em;">
        <i class="icon-shell" style="font-size: 5em; border: 1px solid black; border-radius: 50%; padding: 15px; display: inline-block"></i>
        <div>
            <h3>
                Powershell
            </h3>
            <p style="display: flex; justify-content: center; align-items: center; width: 50%; margin-left: 25%">A task automation and configuration management framework from Microsoft, consisting of a command-line shell and associated scripting language built on the .NET Framework.</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 text-center" id="hover-change" style="padding-top: 2em; padding-bottom: 2em;">
        <i class="icon-perl" style="font-size: 5em; border: 1px solid black; border-radius: 50%; padding: 15px; display: inline-block"></i>
        <div>
            <h3>
                Perl
            </h3>
            <p style="display: flex; justify-content: center; align-items: center; width: 50%; margin-left: 25%">General purpose programming language that specializes in text processing.</p>
        </div>
    </div>
</div>
